@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  background-image: url(./images/bg.png);
  background-size: cover;
}

header {
  position: relative;
  padding: 60px 50px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  cursor: pointer;
}

.logo_white {
  color: white;
}

.logo_bold {
  font-weight: bold;
}

.menu {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu__item {
  display: flex;
  font-size: 1rem;
  padding-left: 40px;
  cursor: pointer;
}

.menu__item_white {
  color: white;
}

.menu__item_padding {
  padding-left: 0;
}

.basket {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.basket_margin {
  margin-right: 40px;
}

.btn {
  padding: 15px 40px;
  transform: skewX(-10deg);
  font-size: 1rem;
  outline: none;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.main-page {
  margin: 60px auto 0;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

.title {
  font-weight: bolder;
  font-size: 8rem;
}

.title_white {
  color: white;
}

.text {
  font-size: 1rem;
}

.text_white {
  color: white;
}

.text_margin {
  margin: 20px 0 40px;
}

.main-page__btn {
  margin: 0 auto;
}

.topnav {
  width: 100%;
  position: absolute;
  display: none;
  overflow: hidden;
  top: 35px;
  right: 0;
}

.topnav #myLinks {
  display: none;
  width: 100%;
  text-align: center;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
}

.topnav a.icon {
  background-color: transparent;
  background-image: url(./images/menu_2.png);
  background-size: cover;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  /* background-color: white; */
  color: rgb(100, 100, 100);
}

/* page 2 */

.description {
  display: flex;
  height: 100vh;
  background-color: rgb(34, 34, 34);
  align-items: center;
  justify-content: space-between;
  background-image: url(./images/copt.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
}

.description__title {
  font-size: 3.3rem;
}

.description-wrapper {
  margin-left: 150px;
  width: 30%;
}

.description__text {
  white-space: pre-wrap;
  line-height: 2rem;
  font-size: 1rem;
  color: rgb(121, 121, 121);
}

.description__text_margin {
  margin: 40px 0;
}

.drone-pic {
  width: 100%;
  max-width: 850px;
  height: auto;
}

/* page 3 */

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/video.png);
  background-size: cover;
}

.start {
  padding-left: 15px;
  width: 80px;
  height: auto;
}

.start-wrapper {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
  background-color: white;
  border-radius: 50%;
}

.start-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.692);
}

/* Page 4 */

.service {
  height: 100vh;
  background-color: rgb(34, 34, 34);
}

.head-wrapper {
  width: 40%;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

.service__title {
  font-size: 3.3rem;
}

.service__text {
  font-size: 1rem;
  line-height: 2rem;
}

.text_grey {
  color: grey;
}

.service__text_margin {
  margin-top: 20px;
}

.blocks-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.block {
  width: 20%;
}

.block__picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
}

.block__title {
  font-size: 1.5rem;
}

.block__title_margin {
  margin: 30px 0 20px;
}

.block__text {
  font-size: 1rem;
  line-height: 2rem;
}

/* page 5 */

.options {
  height: 100vh;
  background-color: rgb(34, 34, 34);
}

.options_border {
  border-top: 1px solid grey;
}

.options__title {
  font-size: 2.5rem;
}

.option-head-wrapper {
  width: 50%;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

.options__text {
  font-size: 1rem;
  line-height: 2rem;
}

.options__text_margin {
  margin-top: 20px;
}

.option-block-background {
  display: flex;
}

.option-background {
  height: inherit;
  width: 50%;
  background-image: url(./images/copts.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
}

.option-block-wrapper {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.option-block__name {
  font-size: 1rem;
}

.option-block__parameter {
  font-size: 1.5rem;
  font-weight: bold;
}

.option-block__parameter_margin {
  margin-bottom: 30px;
}

/* page 6 */

.slider {
  height: 100vh;
}

.slider-head {
  text-align: center;
  width: 50%;
  margin: 80px auto 0;
}

.slider-head__title {
  font-size: 3.3rem;
}

.slider-head__text {
  font-size: 1rem;
}

.slider-head__text_margin {
  margin-top: 20px;
}

.slide-image {
  background-image: url(./images/slid.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80%;
}

.slide-image_margin {
  text-align: center;
}

/* page 7 */

.purchase {
  height: 100vh;
  background-color: rgb(34, 34, 34);
}

.purchase-wrapper {
  padding-top: 80px;
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.purchase__title {
  font-size: 3.3rem;
}

.purchase__text {
  font-size: 1rem;
}

.purchase__text_margin {
  margin-top: 20px;
}

.drone-wrapper {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 70px auto;
}

.drone-block {
  position: relative;
  width: 32%;
  text-align: center;
  background-color: white;
}

.drone-block__image {
  width: 90%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.drone-block__image_sh1 {
  background-image: url(./images/sh1.png);
}

.drone-block__image_sh2 {
  background-image: url(./images/sh2.png);
}

.drone-block__image_sh3 {
  background-image: url(./images/sh3.png);
}

.drone-block__image_margin {
  margin: 100px auto 80px;
}

/* .drone-text-wrapper {
  height: 70%;
} */

.drone-block__name {
  font-size: 1.5rem;
}

.drone-block__price {
  font-size: 2.5rem;
  font-weight: bold;
}

.drone-block__price_margin {
  margin: 10px 0 20px;
}

.btn_black {
  border: none;
  color: white;
  background-color: black;
}

.btn_black:hover {
  font-weight: bold;
  color: black;
  background-color: rgb(114, 112, 112);
}

.drone-block__btn_margin {
  margin-bottom: 30px;
}

.drone-block__new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  font-size: 2rem;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.drone-block__new_position {
  position: absolute;
  top: 70px;
  right: 50px;
}

/* page 8 */

.contacts {
  background-color: rgb(34, 34, 34);
}

.contacts-wrapper {
  padding: 100px 150px 100px 200px;
}

.contacts-border {
  border-top: 1px solid grey;
}

.contacts-string {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-string_margin {
  margin: 100px 0;
}

.contacts-text-wrapper {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.contacts-icons-wrapper {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: auto;
}

.contacts__text {
  font-size: 1rem;
}

.text_size-middle {
  font-size: 1.3rem;
}

.text_size-big {
  font-weight: bolder;
  font-size: 1.5rem;
}

.text_underline {
  text-decoration: underline;
}

.text_width {
  width: 25%;
}

/* media */

@media (max-width: 1800px) {
  html {
    font-size: 12px;
  }

  .start {
    padding-left: 15px;
    width: 60px;
  }

  .start-wrapper {
    height: 200px;
    width: 200px;
  }

  .block__picture {
    width: 60px;
    height: 60px;
  }

  .option-head-wrapper {
    padding: 40px 0;
  }

  .drone-block__image {
    height: 150px;
  }

  .drone-block__image_margin {
    margin: 80px auto 60px;
  }

  .drone-block__new {
    width: 100px;
    height: 100px;
  }

  .drone-block__new_position {
    top: 50px;
    right: 30px;
  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 15px;
  }

  .contacts-string_margin {
    margin: 80px 0;
  }

  .contacts-wrapper {
    padding: 80px 120px 80px 170px;
  }
}

@media (max-width: 1550px) {
  html {
    font-size: 9px;
  }

  .start {
    padding-left: 10px;
    width: 40px;
  }

  .start-wrapper {
    height: 120px;
    width: 120px;
  }

  .option-block__parameter_margin {
    margin-bottom: 20px;
  }

  .drone-block__btn_margin {
    margin-bottom: 20px;
  }

  .drone-block__image {
    height: 130px;
  }

  .drone-block__image_margin {
    margin: 60px auto 40px;
  }

  .drone-block__price_margin {
    margin: 8px 0 15px;
  }

  .drone-block__new {
    width: 70px;
    height: 70px;
  }

  .drone-block__new_position {
    top: 40px;
    right: 20px;
  }

  .contacts-string_margin {
    margin: 60px 0;
  }

  .contacts-wrapper {
    padding: 60px 120px 80px 150px;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 7px;
  }

  header {
    padding: 40px 30px;
  }

  .main-page {
    margin: 40px auto 0;
  }

  .description-wrapper {
    margin-left: 100px;
  }

  .btn {
    padding: 10px 20px;
  }

  .head-wrapper {
    padding: 50px 0;
  }

  .block__picture {
    width: 40px;
    height: 40px;
  }

  .block__title_margin {
    margin: 20px 0 10px;
  }

  .purchase-wrapper {
    padding-top: 60px;
  }

  .drone-wrapper {
    margin: 50px auto;
  }

  .drone-block__btn_margin {
    margin-bottom: 15px;
  }

  .drone-block__image {
    height: 110px;
  }

  .drone-block__image_margin {
    margin: 40px auto 20px;
  }

  .drone-block__price_margin {
    margin: 6px 0 12px;
  }

  .drone-block__new {
    width: 60px;
    height: 60px;
  }

  .drone-block__new_position {
    top: 30px;
    right: 10px;
  }

  .contacts-string_margin {
    margin: 40px 0;
  }

  .contacts-wrapper {
    padding: 40px 100px 60px 120px;
  }

  .contacts-icons-wrapper {
    width: 30%;
  }

  .icon-wrapper {
    width: 30px;
    height: 30px;
  }

  .icon {
    width: 10px;
  }
}

@media (max-width: 770px) {
  html {
    font-size: 6px;
  }

  header {
    background-color: rgba(0, 0, 0, 0.35);
  }

  .menu {
    display: none;
  }

  .basket_margin {
    margin: 0 20px;
  }

  .topnav #myLinks a {
    background-color: rgb(0, 0, 0);
  }

  .topnav #myLinks a:first-child {
    margin-top: 35px;
    border-top: 1px solid white;
  }

  .topnav {
    display: block;
  }

  .header-wrapper {
    width: 70%;
  }

  .option-background {
    background-size: auto 80%;
  }

  .block__picture {
    width: 30px;
    height: 30px;
  }

  .slider-head {
    width: 80%;
    margin: 50px auto 0;
  }

  .purchase-wrapper {
    padding-top: 40px;
  }

  .drone-wrapper {
    margin: 30px auto;
  }

  .drone-block__new {
    width: 40px;
    height: 40px;
  }

  .drone-block__new_position {
    top: 20px;
    right: 5px;
  }

  .contacts-string_margin {
    margin: 20px 0;
  }

  .contacts-wrapper {
    padding: 30px 80px 50px 100px;
  }

  .icon-wrapper {
    width: 25px;
    height: 25px;
  }

  .icon {
    width: 7px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 5px;
  }

  header {
    padding: 15px 15px;
  }

  .header-wrapper {
    width: 82%;
  }

  .topnav {
    top: 10px;
    right: 0;
  }

  .topnav #myLinks a:first-child {
    margin-top: 15px;
  }

  .description {
    justify-content: center;
    align-items: flex-start;
    background-position: right bottom;
    background-size: 70% auto;
  }

  .description-wrapper {
    margin: 30px 0;
    width: 70%;
  }

  .description__text_margin {
    margin: 20px 0;
  }

  .start {
    padding-left: 7px;
    width: 25px;
  }

  .start-wrapper {
    height: 80px;
    width: 80px;
  }

  .blocks-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .block-text-wrapper {
    width: 80%;
  }

  .head-wrapper {
    width: 70%;
    padding: 20px 0;
  }

  .option-head-wrapper {
    width: 80%;
    padding: 30px 0;
  }

  .option-block-wrapper {
    margin: 0 auto;
    width: 50%;
    justify-content: center;
  }

  .option-block-background {
    flex-direction: column;
  }

  .purchase-wrapper {
    padding-top: 30px;
    width: 80%;
  }

  .drone-wrapper {
    flex-direction: column;
  }

  .drone-block {
    display: flex;
    width: 100%;
  }

  .drone-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 5px 5px 0;
  }

  .drone-block__image {
    width: 60%;
    height: 90px;
  }

  .drone-block_margin {
    margin: 5px 0;
  }

  .drone-block__image_margin {
    margin: 5px;
  }

  .btn {
    padding: 5px 5px;
    font-size: 0.8rem;
  }

  .drone-block__new {
    width: 30px;
    height: 30px;
  }

  .drone-block__new_position {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
  }

  .contacts-string_margin {
    margin: 10px 0;
  }

  .contacts-text-wrapper {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .contacts-icons-wrapper {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .contacts-wrapper {
    padding: 20px;
  }

  .icon-wrapper {
    width: 20px;
    height: 20px;
  }

  .icon {
    width: 6px;
  }

  .text_width {
    width: 35%;
  }
}
